/*
* Due to large amount of compiled CSS, and the difficulties involved in tracking
* problems back to source SCSS files, CSS bugs are solved by overrides in this file.
*/

nav {
	height: auto;
}

.side-nav li {
	padding: 0;
	line-height: auto;
}

h1 { 
	font-size: 2rem;
	margin: 3rem 0 0.5rem 0;
}

h2 {
	font-size: 1.75rem;
	margin-top: 3rem;
}

h3, h4 {
	font-size: 1.5rem;
	margin-top: 3rem;
}

.alert {
	border-width: 5px;
	border-radius: 5px;
}
.alert h3 {
	margin-top: 0;
}

img.book {
	float: right;
	max-width: 200px;
	margin: 3rem 0 20px 20px;
}

#mc_embed_signup {
	background-color: inherit !important;
}
#mc_embed_signup input[type="email"], #mc_embed_signup input[type="text"] {
	background-color: white !important;
}
