/* gujarati */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/wCmBOcbMtLTp13PnZAgmSfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200B-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/P2hFOH1DPqAWVReg-HUMhfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/DzhH6PfU4mu9JEy8SPOrWQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
