#mainmenuholder {
    background: #f2f2f2;
    /*height: 40px !important;*/
}

#menu-main-menu {
    text-align: left;
}

.mainmenuholder-wihite {
    position: absolute;
    display: inline-block;
    content: '';
    height: 40px;
    left: 0;
    width: 100%;
    top: 40px;
    background: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    line-height: 24px;
}

.mainmenuholder-wihite div {
    margin: 0 auto;
}

.mainmenuholder-wihite div a {
    display: inline-block;
    float: left;
    margin: -4px auto 0 auto;
    color: #8e3233 !important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    padding-top: 11px;
    text-align: center;
}

.searchsubmitter {
    display: none !important;
}

/*.mainmenuholder-wihite div a:before {*/
/*position: absolute;*/
/*display: inline;*/
/*content: '';*/
/*bottom: -10px;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 4px;*/
/*background: #8E3233;*/
/*}*/

.current-menu-parent {
    background: #fff !important;
}

/*.current-menu-parent a, .current-menu-parent a > div {*/
/*color: #A7373A !important;*/
/*}*/
menu #navigation ul li:hover > a .menubutton, menu #navigation ul li.active > a .menubutton {
    color: #8e3233;
}

#searchform-wrp {
    width: 1170px;
    position: fixed;
    display: block;
    height: 30px;
    top: -10px;
    position: relative;
    margin: -40px auto 0 auto;
}

#searchform-wrp #searchform {
    position: absolute;
    display: inline-block;
    right: 0;
    max-width: 170px;
    max-height: 30px;
    z-index: 999;
}

#searchform-wrp #searchform input {
    border: none;
    background: #ffffff;
    color: #454545;
    padding: 5px 30px 5px 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    max-width: 170px;
    border-radius: 0;
    line-height: 20px;
}

.icon-search.searchsubmittericon {
    position: absolute;
    right: 5px;
    top: 1px;
    color: #cecece;
    font-family: "fontello";
    content: "\e84a";
    font-size: 20px;
    cursor: pointer;
    line-height: 24px;
}

.icon-search.searchsubmittericon:hover {
    color: #454545;
}

#logo-wrapper {
    display: none;
}

.menuontop menu #navigation ul .menubutton {
    height: 40px;
}

.menuontop menu #navigation > ul > li .sub-menu {
    top: 38px;
}

menu #navigation ul li .sub-menu > li > .sub-menu {
    margin-left: 0px;
}

.menuontop menu #navigation ul #menu-item-5366 .menubutton, .menuontop menu #navigation > ul > li#menu-item-7315:hover {
    color: transparent !important;
    padding-left: 0;
    background-color: transparent !important;
}

.menuontop menu #navigation ul #menu-item-5366 a img {
    margin-left: -1px;
    margin-top: -2px;
}

.menuontop menu #navigation ul #menu-item-5366 .menubutton {
    padding-right: 37px;
    padding-left: 0;
}

.menubutton .demoicon {
    margin-right: 6px;
}

menu #navigation > ul#menu-main-menu {
    margin: 0;
}

menu #navigation > ul#menu-main-menu > li {
    margin-left: 0;
}

menu #navigation > ul > li.hassubmenu {
    padding-right: 20px;
}

menu #navigation > ul#menu-main-menu > li .menubutton {
    padding: 0px 18px 0px 35px;
    position: relative;
}

menu #navigation > ul#menu-main-menu > li:last-child .menubutton {
    padding-left: 15px;
}

menu #navigation > ul#menu-main-menu > li#menu-item-5366:hover {
    background-color: transparent !important;
}

#searchform-wrp #searchform {
    margin-top: 5px;
}

menu #navigation > ul > li .demoicon {
    position: absolute;
    left: 10px;
    top: 5px;
}

menu #navigation ul#menu-main-menu > li.hassubmenu > a:after {
    top: 11px;
    right: 20px;
    font-size: 13px;
}

menu #navigation ul#menu-main-menu #menu-item-5366 a img {
    margin-left: 0px;
    margin-top: -3px;
}

menu #navigation #menu-main-menu .sub-menu .menubutton {
    font-size: 12px;
}

.menuontop menu #navigation > ul#menu-main-menu > li ul .menubutton {
    padding-left: 15px;
}

.mainmenuholder-wihite a span {
    position: relative;
    padding: 0 5px;
    line-height: 24px;
    margin-top: -7px;
    font-size: 13px;
    display: inline-block;
    font-weight: 700;
}

.mainmenuholder-wihite a:hover > span:before {
    position: absolute;
    display: inline;
    content: '';
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #8E3233;
}

@media only screen and (max-width: 767px) {
    .mainmenuholder-wihite {
        display: none;
    }

    menu #navigation ul li.current-menu-parent .sub-menu a > div {
        color: rgba(0, 0, 0, 0.75);
    }

    menu #navigation ul li.current-menu-parent .sub-menu li.current-menu-item a > div {
        color: #A7373A;
    }

    menu #navigation ul li.current-menu-parent .sub-menu li.current-menu-item .sub-menu a > div {
        color: rgba(0, 0, 0, 0.75);
    }

    #menu-main-menu > li:nth-child(2) {
        display: none;
    }

    .container {
        margin-left: 10px;
    }

    #mainmenuholder {
        height: 100% !important;
        width: 100% !important;
    }

    #navigation {
        width: 100% !important;
    }

    menu #navigation > ul#menu-main-menu > li#menu-item-5366 .menubutton {
        padding-left: 15px;
    }

    menu #navigation > ul > li.hassubmenu {
        padding-right: 0;
    }
}